<TabView  tabBackgroundColor="#414141" selectedTabTextColor="#00FF00">
    <StackLayout *tabItem="{title: 'News'}" id = "news">

        <StackLayout id= "woman">
        <Label text = "Smile Of the Future" id= "womantext"></Label>
        <Image src= "~/images/big-woman.png"></Image>
        </StackLayout>
        <StackLayout>
        <a href ="">
            <Image src= "~/images/boxes1.png"></Image>
        </a>
        <a href ="">
            <Image src= "~/images/boxes2.png"></Image>
        </a>
        </StackLayout>
    
    </StackLayout>


    <StackLayout *tabItem="{title: 'Info'}">   
                <ListView  [items]="news$ | async" class = "list-group">
                        <ng-template let-item="item" >
                                <StackLayout orientation="horizontal">
                                 <Image width="200px" height="300px" [src]="item.pic" id = "image"></Image>
                            <StackLayout class="list-group-item" >
                              <Label [text]="item.title" class="list-group-item-heading" id = "topic"></Label>
                              <Label [text]="'Created by: ' + item.adminposted"  class="list-group-item-text" ></Label>
                                <Label  [text]="item.description"  class="list-group-item-text" id = "prev"></Label>
                                </StackLayout>
                                </StackLayout>
                            </ng-template>
                        </ListView>
                
                        <app-news-detail [item]="selectedInfo"></app-news-detail>
    </StackLayout>
    <GridLayout *tabItem="{title: 'Providers'}">
            <Gradient height="100%" direction="to bottom" colors="#444, #000" [class.p-20]="isIOS">
                    <ContentView [@flyInOut]="'in'" height="100%" width="100%" borderRadius="20">
                      <Mapbox
                          accessToken="sk.eyJ1IjoiZWRkeXZlcmJydWdnZW4iLCJhIjoia1JpRW82NCJ9.OgnvpsKzB3GJhzyofQNUBw"
                          mapStyle="traffic_day"
                          latitude="42.624189"
                          longitude="23.372106"
                          zoomLevel="8"
                          delay="450"
                          showUserLocation="true"
                          hideCompass="false"
                          disableZoom="false"
                          disableRotation="false"
                          disableScroll="false"
                          disableTilt="false"
                          (mapReady)="onMapReady($event)">
                      </Mapbox>
                    </ContentView>
                  </Gradient>
                  <FAB
                      [@from-right]="'in'"
                      (tap)="fabTapped()"
                      icon="res://ic_add_white"
                      rippleColor="#f1f1f1"
                      class="fab">
                </FAB>
    </GridLayout>
</TabView>

